@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-overlay: rgba(50,50,50,0.4);
$color-overlay-bottom: #2e424b;

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: $color-overlay-bottom;

  > div {
    height: 100%;
  }
}

.App {

  font-family: "Roboto", sans-serif;
  color: rgba(255,255,255, 0.95);



  height: 100%;
  background: #2e424b;
  
}
